body {
     margin: 0;
     font-family: Arial, sans-serif;
     background: #f5f5f5;
}

header {
     background: #171717;
     color: white;
     padding: 20px;
     text-align: center;
}

nav a {
     color: white;
     margin: 0 10px;
     text-decoration: none;
     font-weight: bold;
}

nav a:hover {
     text-decoration: underline;
}

.hero {
     padding: 40px;
     text-align: center;
     background: #ffffff;
     margin: 20px;
     border-radius: 10px;
}

.categories {
     display: flex;
     justify-content: center;
     gap: 15px;
     padding: 20px;
     flex-wrap: wrap;
}

.card {
     background: white;
     padding: 20px 30px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     font-size: 18px;
}